##**Name     : Akash Rawat**

###**Function : Data Science and Business Analytics**

###**Task #1  : Predict the percentage of an student based on the no. of study hours**

**Importing required libraries**

In [ ]:
import pandas as pd
import tensorflow as tf
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

The following lines adjust the granularity of reporting.

In [ ]:
pd.options.display.max_rows = 10
pd.options.display.float_format = "{:.1f}".format

**Importing the csv file**

In [ ]:
from google.colab import files
csv_file = files.upload()

Saving student_scores - student_scores.csv to student_scores - student_scores.csv

**Importing dataset**

In [ ]:
training_df=pd.read_csv('student_scores - student_scores.csv')
training_df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

**Scaling the label**

In [ ]:
training_df["Scores"] /= 100.0

**Printing the first rows of dataframe**

In [ ]:
training_df.head()

   Hours  Scores
0    2.5     0.2
1    5.1     0.5
2    3.2     0.3
3    8.5     0.8
4    3.5     0.3

**Examining the dataset**

In [ ]:
training_df.describe()

       Hours  Scores
count   25.0    25.0
mean     5.0     0.5
std      2.5     0.3
min      1.1     0.2
25%      2.7     0.3
50%      4.8     0.5
75%      7.4     0.8
max      9.2     0.9

**Using Linear Regression**

In [ ]:
X=training_df.drop(['Scores'], axis=1)
y=training_df['Scores']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=26)

**Using fit()**

In [ ]:
lr=LinearRegression()
lr.fit(X_train,y_train)

y_predLR = lr.predict(X_test)
r2_score(y_test, y_predLR)

0.9514975041111624

**Using model.predict() to make prediction on given value**

In [ ]:
val=9.25
given_value={'Hours':[val]}
given_value=pd.DataFrame(given_value)
y_predLR = lr.predict(given_value)
print("The predicted percentage for student studying 9.25 hours/day is: \n")
print(y_predLR*100)

The predicted percentage for student studying 9.25 hours/day is:

[93.21277569]